
body {
display: flex;
flex-direction: column;
margin: 0;
min-height: 100vh;
font-family: 'Roboto', sans-serif;
}
.header-hero-wrapper { 
    background-color: rgb(170, 170, 33);
}
.header {
    display: flex;
    align-items:flex-start;
    margin: 10px;
    justify-content: start;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}

.Header-logo {
    height: 50px;
    width: auto;
}
.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:10px
    
}
.header-links a{
    color: #E5E7EB;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}

.hero {
display: flex;
justify-content: center;
margin: 100px;
justify-content: center;
align-content: center;
}

.jb-tech-card {
    align-self: center;
    margin-right: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-text {
color: #E5E7EB;
}
.sing-up-button {
    background-color: pink;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;  
}
.hero-image {
    width: 600px;
}
.cards-wrapper {
    margin: 100px;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
}
.plan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #072dd6;
}
.card-subtext {
    text-align: center;
    margin-top: 15px;
}
.Guide-dev-plan-image{

    height: 200px;
    width: 200px;    
}
.networking-dev-plan-image {
    height: 200px;
    width: 200px;     
}
.trading-chart-dev-image {
    height: 200px;
    width: 200px;  
    
}
.plan-dev-trading_insights-image {
    height: 200px;
    width: 200px;  
}
.quote-wrapper {
    background-color: #E5E7EB;
   
}
.quote-container {
    display: flex;
    flex-direction: row;
    margin: 100px;
    padding-left: 100px;
    padding-right: 100px;


}
.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
color: #072dd6;
}


.quote-author {
    font-weight: 900;
    align-self: flex-end;  
}
.plan-wrapper {
margin-bottom: 30px;
}

.call-to-action-container {
background-color: #072dd6;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 300px;
margin-right: 300px;
border-radius: 10px;
padding: 50px;
}

h3 {
    color: #70c51b;
    padding: 0px;
    margin: 0px;
}

.call-to-action-text {
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.sing-up-button-second {
    background-color: rgb(137, 20, 211);
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px;  
    justify-content: flex-end;
    display: flex;
}

.footer-wrapper{
    background-color: burlywood;
}

.footer-text {
display: flex;
align-items: center;
justify-content: center;
margin: 10px;
font-size: 20px;
color: #F9FAF8;
}
